h1 {
  font-family: helvetica;
  font-weight: 200;
}

ul {
  margin: 0px;
  padding: 0px;
}

.container {
  border: 5px inset rgb(223, 223, 223);
  border-radius: 10px;
}

.file-entry {
  margin: 10px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  grid-column-gap: 10px;
}

.file-progress {
  width: 100%;
}